<div class="py-2">
  <div class="calendar-form">
    <h3 class="text-xl font-bold">Events</h3>
  </div>

  <div class="flex justify-between items-center mt-5">
    <h3>June 2021</h3>
    <div class="block" data-toggle="buttons">
      <%= link_to "#", class: "btn-primary" do %>
        Prev      <% end %>
      <%= link_to "#", class: "btn-primary" do %>
        Next
      <% end %>

      <a href="#" class="btn-primary ml-2">Today</a>
    </div>
  </div>

</div>
